@import url("https://rsms.me/inter/inter.css");
html {
  /* this enables some alternative styles and contextual characters to the font */
  font-feature-settings: "ss01", "ss02", "case", "salt";
}
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Madimi+One&family=Mukta:wght@200;300;400;500;600;700;800&family=Noto+Sans+KR:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Truculenta:opsz,wght@12..72,100..900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
body {
  margin: 0;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(90deg, rgb(0, 32, 42), rgb(0, 0, 0));
  /* background-image: linear-gradient(to left, rgb(0, 0, 0), rgb(0, 0, 0)); */
}
